{% extends 'base.html.twig' %}
{% block title %}
	{{parent()}}{{jeu.nom}}
{% endblock %}
{% block body %}
	<div class="container-fluid">
		<h1 class="text-center text-primary mt-4 pt-4 display-1 fw-bold">{{jeu.nom}}</h1>
		<div class="col-sm-12 text-center">
			<img src="{{ asset('img/' ~ jeu.nom ~ '.jpg' ) }}" alt="{{jeu.nom}}" class="img-responsive" style="width:250px"/>
		</div>
		<div class="row align-items-center">
			<div id="carouselExampleIndicators" class="carousel slide mt-4 pt-4 fw-bold">
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img src="{{ asset('img/' ~ jeu.nom ~ ' Img1.jpg' ) }}" class="d-block img-fluid mx-auto" alt="Image du jeu: {{jeu.nom}}">
					</div>
					<div class="carousel-item">
						<img src="{{ asset('img/' ~ jeu.nom ~ ' Img2.jpg' ) }}" class="d-block img-fluid mx-auto" alt="Image du jeu: {{jeu.nom}}">
					</div>
					<div class="carousel-item">
						<img src="{{ asset('img/' ~ jeu.nom ~ ' Img3.jpg' ) }}" class="d-block img-fluid mx-auto" alt="Image du jeu: {{jeu.nom}}">
					</div>
					{% for v in jeu.videos %}
					<div class="carousel-item">
						<div style="padding-bottom:56.25%; position:relative; display:block; width: 100%">
							<iframe width="100%" height="100%" src="{{v.url}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen="" style="position:absolute; top:0; left: 0"></iframe>
						</div>
					</div>
					{% endfor %}
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>
		</div>
		<div class="row row-cols-1 row-cols-md-2">
			<div class="col p-4">
				<div class="accordion accordion-flush" id="accordionFlushExample">
					<div class="accordion-item">
						<h2 class="accordion-header" id="flush-headingOne">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
								Description du jeu :
							</button>
						</h2>
						<div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
							<div class="accordion-body">
								<h5>{{jeu.description}}</h5>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col p-4">
				<div class="row">
					<br><h4 class="text-info">Le prix du jeu :
						{{jeu.prix}}
						€</h4>
				</div>
					{% if is_granted('IS_AUTHENTICATED_FULLY') %}
						{% if jeu in app.user.aimer %}
							<div class="row">
								<div class="col">
									<div class="d-grid gap-2">
										<a class="btn btn-danger btn-block" href="{{path('app_aimer_page',{'id':jeu.id})}}" role="button">
											<i class="bi bi-heart-fill" title="Mettre en favori"></i>
										</a>
									</div>
								</div>
							</div>
						{% else %}
							<div class="row">
								<div class="col">
									<div class="d-grid gap-2">
										<a class="btn btn-danger" href="{{path('app_aimer_page',{'id':jeu.id})}}" role="button" style="width:724px">
											<i class="bi bi-heart" title="Mettre en favori"></i>
										</a>
									</div>
								</div>
							</div>
						{% endif %}
						{% set verif = false %}
						{% for panier in app.user.panier.ajouters %}
							{% if panier.jeux == jeu %}
								{% set verif = true %}
							{% endif %}
						{% endfor %}
						{% if verif %}
							<div class="row">
								<div class="col">
									<div class="d-grid gap-2">
										<a class="btn btn-warning" href="{{path('app_supp_panier_page',{'id':jeu.id})}}" role="button">
											<i class="bi bi-cart-x-fill"></i>
										</a>
									</div>
								</div>
							</div>
						{% else %}
							<div class="row">
								<div class="col">
									<div class="d-grid gap-2">
										<a class="btn btn-success" href="{{path('app_ajout_panier_page',{'id':jeu.id})}}" role="button" style="width:724px">
											<i class="bi bi-cart" title="Ajouter au panier"></i>
										</a>
									</div>
								</div>
							</div>
						{% endif %}
					{% else %}
						<div class="row">
							<div class="col">
								<div class="d-grid gap-2">
									<a class="btn btn-danger" href="{{path('app_aimer_page',{'id':jeu.id})}}" role="button" style="width:724px">
										<i class="bi bi-heart" title="Mettre en favori"></i>
									</a>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<div class="d-grid gap-2">
									<a class="btn btn-success" href="{{path('app_ajout_panier_page',{'id':jeu.id})}}" role="button" style="width:724px">
										<i class="bi bi-cart" title="Ajouter au panier"></i>
									</a>
								</div>
							</div>
						</div>
					{% endif %}
				</p>
			</div>
		</div>
	</div>
{% endblock %}
