{% extends 'base.html.twig' %}
{% block title %}
	{{parent()}}Liste des Jeux
{% endblock %}
{% block body %}
	<div class="container-fluid">
		<h1 class="text-center text-primary mt-4 pt-4 display-1 fw-bold">
			Liste Jeux</h1>
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 p-4 m-0 text-primary">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr class="fw-bold text-primary">
                                <th scope="col">Nom</th>
                                <th scope="col">Catégorie</th>
                                <th scope="col">Prix</th>
                                <th scope="col">Petite description</th>
                                <th scope="col">Description</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for jeu in jeux %}
                            <tr class="{{ cycle(['table-primary','table-secondary'], loop.index0) }}">
                            <td>{{ jeu.nom | capitalize }}</td>
                            <td>{{ jeu.categorie.libelle | capitalize }}</td>
                            <td>{{ jeu.prix }}</td>
                            <td>{{ jeu.pDescription }}</td>
                            <td>{{ jeu.description }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
