<!doctype html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			{% block title %}PS5Playground -
			{% endblock %}
		</title>
		{% block stylesheets %}
			<link href="https://bootswatch.com/5/vapor/bootstrap.min.css" rel="stylesheet">
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
			<link rel="icon" type="image/png" href="{{asset('img/logo.png')}}"/>
		{% endblock %}
	</head>
	<body>
		<nav class="navbar navbar-expand bg-primary sticky-top" data-bs-theme="dark">
			<div class="container-fluid">
				<a class="navbar-brand" href="{{path('app_accueil')}}" title="Vers la page d'accueil !"><img alt="Logo PS5Playground" src="{{asset('img/logo.png')}}" width="50px" height="50px"></a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse text-center" id="navbarColor01">
					<ul class="navbar-nav me-auto">
					<li class="nav-item">
						<a class="nav-link" href="{{path('app_contact')}}">Contact
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{path('app_recherche')}}">
							<i class="bi bi-search"></i>
						</a>
					</li>
				</ul>
				<ul class="navbar-nav ms-auto">
					{% if not is_granted('IS_AUTHENTICATED_FULLY') %}
						<li class="nav-item">
							<a class="nav-link" href="{{path('app_login')}}">Se connecter
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{path('app_register')}}">S'inscrire
							</a>
						</li>
					{% else %}
						{% if is_granted('ROLE_ADMIN')%}
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">A</a>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="{{path('app_liste-contacts')}}">Liste Contacts</a>
									<a class="dropdown-item" href="{{path('app_liste-users')}}">Liste Users</a>
									<a class="dropdown-item" href="{{path('app_categorie')}}">Ajouter catégorie</a>
									<a class="dropdown-item" href="{{path('app_liste-categories')}}">Liste catégories</a>
									<a class="dropdown-item" href="{{path('app_ajouter_jeux')}}">Ajouter Jeux</a>
									<a class="dropdown-item" href="{{path('app_ajouter_image')}}">Ajouter image</a>
									<a class="dropdown-item" href="{{path('app_ajout_video')}}">Ajouter Vidéo</a>
									<a class="dropdown-item" href="{{path('app_liste-jeux')}}">Liste jeux</a>
								</div>
							</li>
						{% endif %}
						<li class="nav-item">
							<a class="nav-link" href="{{path('app_liste_favoris')}}" data-placement="bottom" data-toggle="tooltip" title="Favoris">
								<i class="bi bi-heart-fill"></i>
								{% if app.user.aimer | length > 0 %}
									<span class="position-absolute top-1 start-85 translate-middle badge rounded-pill bg-danger">
										{{app.user.aimer | length}}
										<span class="visually-hidden">Rien dans le panier</span>
									</span>
									{% endif %}
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{path('app_panier')}}" data-placement="bottom" data-toggle="tooltip" title="Panier">
									<i class="bi bi-cart-fill"></i>
									{% if app.user.panier.ajouters | length > 0 %}
									<span class="position-absolute top-10 start-85 translate-middle badge rounded-pill bg-success">
										{{app.user.panier.ajouters | length}}
										<span class="visually-hidden">Rien dans le panier</span>
									</span>
									{% endif %}
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{path('app_profil')}}" data-placement="bottom" data-toggle="tooltip" title="Profil">
								<i class="bi bi-person-circle"></i>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{path('app_logout')}}" data-placement="bottom" data-toggle="tooltip" title="Déconnexion">
								<i class="bi bi-x-circle-fill"></i>
							</a>
						</li>
					{% endif %}
				</ul>
			</div>
		</nav>
		{% for message in app.flashes('notice') %}
			<h2 class="alert alert-success text-center mt-4 mb-4" role="alert">
				{{ message }}
			</h2>
		{% endfor %}
		{% for message in app.flashes('noticer') %}
			<h2 class="alert alert-danger text-center mt-4 mb-4" role="alert">
				{{ message }}
			</h2>
		{% endfor %}
		{% for message in app.flashes('noticej') %}
			<h2 class="alert alert-warning text-center mt-4 mb-4" role="alert">
				{{ message }}
			</h2>
		{% endfor %}
		{% block body %}Ecommerce
		{% endblock %}
		{% block javascripts %}
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
		{% endblock %}
	</body>
</html>
