{% extends 'base.html.twig' %}
{% block title %}
	{{parent()}}Liste des favoris
{% endblock %}
{% block body %}
	<div class="container-fluid">
		<h1 class="text-center text-primary mt-4 pt-4 display-1 fw-bold">
			Liste des favoris</h1>
		<div class="row m-3">
			<div class="col">
				<div class="d-grid gap-2 justify-content-center">
					<a class="btn btn-danger" style="border-radius:50px" href="{{path('app_desaimer_all')}}" role="button" data-placement="bottom" data-toggle="tooltip" title="Tout enlever aux favoris">
						Tout supprimer
					</a>
				</div>
			</div>
		</div>
		<div class="row justify-content-center pt-5">
				<div>
					<div class="row row-cols-2 row-cols-md-5 g-4 pt-4">
						{% for f in favoris | sort((a,b)=> a.nom <=> b.nom)%}
							<div class="col">
								<div class="card pb-4" style="border-radius:25px">
									<div class"card-body" style="border-radius:30px">
										<a href="{{path('app_jeu',{'nom':f.nom})}}"><img style="border-radius:30px" src="img/{{f.nom}}.{{f.images[0].extension}}" class="card-img-top" alt="Image du jeu: {{f.nom}}"></a>
									</div>
									{% if f.prix == 0 %}
										<h6 class="card-footer text-center">GRATUIT</h6>
									{% else %}
										<h6 class="card-footer text-center">{{f.prix}}
											€</h6>
									{% endif %}
									<a class="btn btn-danger" href="{{path('app_desaimer_favoris',{'id':f.id})}}" role="button" data-placement="bottom" data-toggle="tooltip" title="Supprimer des favoris">
										<i class="bi bi-heart-fill" title="Mettre en favori"></i>
									</a>
									{% set verif = false %}
									{% for panier in app.user.panier.ajouters %}
										{% if panier.jeux == f %}
											{% set verif = true %}
										{% endif %}
									{% endfor %}
									{% if verif %}
										<a class="btn btn-warning" href="{{path('app_supp_panier_favoris',{'id':f.id})}}" role="button" data-placement="bottom" data-toggle="tooltip" title="Supprimer des favoris">
											<i class="bi bi-cart-x-fill" title="Ajouter au panier"></i>
										</a>
									{% else %}
										<a class="btn btn-success" href="{{path('app_ajout_panier_favoris',{'id':f.id})}}" role="button" data-placement="bottom" data-toggle="tooltip" title="Ajouter aux favoris">
											<i class="bi bi-cart" title="Ajouter au panier"></i
										></a>
									{% endif %}
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
		</div>
	</div>
{% endblock %}
