{% extends 'base.html.twig' %}
{% block title %}
	{{parent()}}Liste des favoris
{% endblock %}
{% block body %}
	<div class="container-fluid">
		<h1 class="text-center text-primary mt-4 pt-4 display-1 fw-bold">
			Liste des favoris</h1>
		<div class="row justify-content-center pt-5">
				<div>
					<div class="row row-cols-1 row-cols-md-5 g-4 pt-4">
						{% for f in favoris | sort((a,b)=> a.nom <=> b.nom)%}
							<div class="col">
								<div class="card pb-4 ">
									<h6 class="card-header text-center">{{f.nom}}</h6>
									<div class"card-body">
										<a href="{{path('app_jeu',{'id':f.id})}}"><img src="img/{{f.nom}}.{{f.images[0].extension}}" class="card-img-top" alt="Image du jeu: {{f.nom}}"></a>
									</div>
									{% if f.prix == 0 %}
										<h6 class="card-footer text-center">GRATUIT</h6>
									{% else %}
										<h6 class="card-footer text-center">{{f.prix}}
											€</h6>
									{% endif %}
									{% if is_granted('IS_AUTHENTICATED_FULLY') %}
										{% if f in app.user.aimer %}
											<a class="btn btn-danger" href="{{path('app_desaimer_favoris',{'id':f.id})}}" role="button">
												<i class="bi bi-heart-fill" title="Mettre en favori"></i>
											</a>
										{% else %}
											<a class="btn btn-danger" href="{{path('app_desaimer_favoris',{'id':f.id})}}" role="button">
												<i class="bi bi-heart" title="Mettre en favori"></i>
											</a>
										{% endif %}
									{% else %}
										<a class="btn btn-danger" href="{{path('app_desaimer_favoris',{'id':f.id})}}" role="button">
											<i class="bi bi-heart" title="Mettre en favori"></i>
										</a>
									{% endif %}
									<a class="btn btn-success" href="#" role="button">
										<i class="bi bi-cart" title="Ajouter au panier"></i>
									</a>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
		</div>
	</div>
{% endblock %}
